.experience__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* 1fr 1fr 1fr; */
  gap: 4rem;
}

.experience__example {
  background: var(--color-bg-variant);
  padding: 2.4rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__example__header > h3 {
  text-align: left;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.experience__example__content__overview > h4 {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(77, 181, 255, 0.8);
  font-style: normal;
}

.experience__example__header {
  font-style: italic;
}

.experience__example__header > h5 {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--color-light);
}

.experience__example__content {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  margin-bottom: -10rem;
}

.experience__example__content__overview > h5 {
  /* color: var(--color-light); */
  color: var(--color-light);
}

.underline {
  text-decoration: underline;
}

/* .experience__container > div {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
} */
/* ================ MEDIA QUERIES (MEDIUM DEVICES) ========= */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ========= */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
